@import "_fa-variables.scss";
@import "_fonts.scss";
@import "_mixins.scss";

//colors:
$white: #fff;
$whiteSmoke: #e9f0f5;
$black: #000;
$darkGray: #273135;
$darkGray2: #3a3a3c;
$activeGray: #0c1315;
$hoverGray: #304047;
$lightGray: #89949B;


$orange: #EE6626;
$hoverOrange: #ff884f;

$green: #009a31;
$red: #cc2020;

$spacing: 15px;
$gutter: $spacing * 2;
$column: $gutter * 2;
$highSpace: $column * 2;

//Screen width
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
