html, body {
    height: 100%;

    * {
        font-family: 'Open Sans', sans-serif;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            margin-bottom: $spacing;
        }
    }

    h4 {
        margin-bottom: $gutter;
    }

    .underline {
        border-bottom: 1px solid $lightGray;
    }
}

.button {
    display: inline-block;
    padding: 10px 15px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    width:100%;

    &:hover {
        text-decoration: none;

    }

    &.submit,
    &.edit {
        color: $white;
        background-color: $orange;
        border: 1px solid $orange;

        &:hover {
            color: $orange;
            background-color: $white;
        }
    }

    &.add {
        color: $white;
        background-color: $green;
        border: 1px solid $green;

        &:hover {
            color: $green;
            background-color: $white;
        }
    }
}


.form-field {
    display: block;
    height: 44px;
    padding: 6px 12px;
    font-size: 18px;
    line-height: 20;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: $gutter;
    outline: none;
    width: 100%;

    &:focus {
        border: 2px solid $orange;
    }
}

.form-label {
    width:100%;
    float: left;
}

.error-message,
.info-text {
    margin-bottom: $spacing;
}

.bold {
    font-weight: bold;
    font-size: 16px;
}

#confirmation {
    color: $black;
}

@media(min-width: $screen-xs) {
    .button {
        width: auto;
    }

    .form-field {
        height: 40px;
        font-size: 16px;
        line-height: 18;
        width: 300px;
        max-width: 300px;
    }

    .error-message,
    .info-text {
        margin-bottom: $gutter;
    }

}
