<html>
<head>
  <title>near extreme program</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="css/libraries/bootstrap.min.css" />
  <link rel="stylesheet" href="css/login.css" />
</head>
<body id="signinPage">

<div class="container login">
  <div class="row content">
    <div class="col-xs-12 col-sm-12 text-center">
      <img src="assets/enear-logo1.png" class="intro-logo" title="E.Near" alt="E.Near">
      <h3>Ups! The page you're looking for is not found...</h3>
      <h4>Take me to the <a href="/">HomePage</a></h4>
    </div>
  </div>
</div>


<script src="js/libraries/jquery.min.js"></script>
<script src="js/libraries/bootstrap.min.js"></script>
</body>
</html>