<html>
<head>
    <title>near extreme program . admin</title>
    <link rel="stylesheet" href="css/libraries/bootstrap.min.css" />
    <link rel="stylesheet" href="css/styles.css" />
</head>
<body>
    <div id="admin"></div>
    <script src="js/libraries/jquery.min.js"></script>
    <script src="js/libraries/bootstrap.min.js"></script>
    <script src="js/admin.js"></script>
</body>
</html>
