<html>
<head>
    <title>near extreme program</title>
    <link rel="stylesheet" href="css/libraries/bootstrap.min.css" />
    <link rel="stylesheet" href="css/styles.css" />
</head>
<body>
    <nav id="topNavigation" class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Brand</a>
        </div>

        <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Link</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="mainContainer" class="text-center">
        <div class="text-container">
            <h2>Welcome to the E.Near Extreme Program</h2>
            <p>This is the place where you can trade your 'points' for rewards</p>
            <p>Scroll down to check the goals and rewards catalogs</p>
        </div>
    </div>
    <div id="homepage"></div>
    <footer class="text-center">
        This is the footer
    </footer>
    <script src="js/libraries/jquery.min.js"></script>
    <script src="js/libraries/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
