<html>
<head>
    <title>near extreme program</title>
    <link rel="stylesheet" href="css/styles.css" />
</head>
<body>
    <h1>HELLO WORLDz</h1>
    <div id="app"></div>
    <script src="js/main.js"></script>
</body>
</html>
