<html>
<head>
    <title>near extreme program</title>
    <link rel="stylesheet" href="css/libraries/bootstrap.min.css" />
    <link rel="stylesheet" href="css/styles.css" />
</head>
<body id="signinPage">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Signin</h1>
            </div>
        </div>
    </div>


    <div id="login"></div>
    <script src="js/libraries/jquery.min.js"></script>
    <script src="js/libraries/bootstrap.min.js"></script>
    <script src="js/login.js"></script>
</body>
</html>
