<html>
<head>
    <title>near extreme program</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/libraries/bootstrap.min.css" />
    <link rel="stylesheet" href="css/login.css" />
</head>
<body id="signinPage">

    <div class="container login">
        <div class="row content">
            <div class="col-xs-12 col-sm-4 text-center">
                <img src="assets/enear-logo1.png" class="intro-logo" title="E.Near" alt="E.Near">
                <p class="error-message">{{message}}</p>
            </div>
            <div class="col-xs-12 col-sm-8" id="login"></div>
        </div>
    </div>


    <script src="js/libraries/jquery.min.js"></script>
    <script src="js/libraries/bootstrap.min.js"></script>
    <script src="js/login-admin.js"></script>
</body>
</html>
