<html>
<head>
    <title>near extreme program</title>
    <link rel="stylesheet" href="css/libraries/bootstrap.min.css" />
    <link rel="stylesheet" href="css/styles.css" />
</head>
<body>
    <h1>Signin</h1>
    <h2>hello {{user}} </h2>
    

    <div id="signin"></div>
    <script src="js/libraries/jquery.min.js"></script>
    <script src="js/libraries/bootstrap.min.js"></script>
    <script src="js/signin.js"></script>
</body>
</html>
