<html>
<head>
    <title>near extreme program</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/libraries/bootstrap.min.css" />
    <link rel="stylesheet" href="css/libraries/font-awesome.min.css" />
    <link rel="stylesheet" href="css/login.css" />
</head>
<body id="signinPage">
    <div class="container signin">
        <div class="row info-graphic text-center">
            <div class="col-xs-4">
                <p class="info-text"><i class="fa fa-slack" aria-hidden="true"></i> Sign in with Slack</p>
            </div>
            <div class="col-xs-4">
                <p class="info-text bold"><i class="fa fa-lock" aria-hidden="true"></i> Choose your password</p>
            </div>
            <div class="col-xs-4">
                <p class="info-text"><i class="fa fa-sign-in" aria-hidden="true"></i> Login with your credentials</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 text-center">
                <img src="assets/enear-logo1.png" class="intro-logo" title="E.Near" alt="E.Near">
                <p>Hello,</p>
                <p class="bold">{{user}}</p>
                <p>Please select your password</p>
            </div>
            <div class="col-xs-12 col-sm-8" id="signin"></div>
        </div>
    </div>

    <script src="js/libraries/jquery.min.js"></script>
    <script src="js/libraries/bootstrap.min.js"></script>
    <script src="js/signin.js"></script>
</body>
</html>
