#admin-side-nav {
    position: fixed;
    top: 18px;
    left: 0;
    width: 100%;
    background-color: $darkGray;
    color: $lightGray;
    z-index: 200;



    .navigation {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-direction: row;
        float:left;
        width: 100%;

        li {
            flex: 1;
            margin-bottom: 0px;
            text-align: center;

            &:not(:last-of-type) {
                border-right: 1px solid $lightGray;

            }

            a {
                display: block;
                text-decoration: none;
                color: $lightGray;
                @include font-size(16px);
                border-bottom: 5px solid $darkGray;
                padding: 15px 0;
                position: relative;
                
                &:hover {
                    text-decoration: none;
                    background-color: $hoverGray;
                    border-bottom: 5px solid $hoverGray;
                }

                &.active {
                    border-bottom: 5px solid $orange;
                    background-color: $activeGray;
                    color: $white;

                }


                .request-notification {
                    display: inline-block;
                    padding: 0 10px;
                    background-color: $green;
                    color: $white;
                    border-radius: 2px;
                    font-weight: bold;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
            }
        }

        .logout {
            display: block;
        }
    }
}

#admin-top-nav {
    .user-info {
        padding: 0;
        background-color: $orange;
        color: $white;
        @include font-size(16px);
        width: 100%;
        float: left;
        text-align: left;

    }

    .logout {
        display:none
    }
}

.spacing {
    display: inline-block;
    line-height: 22px;
    margin-left: $spacing;
}

@media(min-width: $screen-xs) {
    #admin-side-nav {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        min-height: 100%;
        max-width: 250px;
        width: 250px;
        background-color: $darkGray;
        color: $lightGray;
        z-index: 100;



        .navigation {
            list-style-type: none;
            padding: 0;
            margin: $highSpace 0;
            display: block;

            li {
                width: 100%;
                margin-bottom: 0;
                flex: none;
                text-align: left;

                &:not(:last-of-type) {
                    border-right: none;

                }

                a {
                    display: block;
                    padding: $spacing;
                    text-decoration: none;
                    color: $lightGray;
                    font-size: 16px;
                    border-left: 5px solid $darkGray;
                    border-bottom: none;
                    position: initial;

                    &:hover {
                        text-decoration: none;
                        background-color: $hoverGray;
                        border-left: 5px solid $hoverGray;
                        border-bottom: none;
                    }

                    &.active {
                        border-left: 5px solid $orange;
                        background-color: $activeGray;
                        color: $white;
                        border-bottom: none;
                    }


                    .request-notification {
                        display: inline-block;
                        padding: 0 10px;
                        background-color: $green;
                        color: $white;
                        border-radius: 2px;
                        font-weight: bold;
                        position: initial;
                    }
                }

            }

            .logout {
                display: none;
            }
        }
    }

    #admin-top-nav {
        display:block;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        background-color: $darkGray;
        z-index: 200;
        max-height: 82px;

        .user-info {
            padding: $spacing;
            background-color: $orange;
            color: $white;
            font-size: 16px;
            max-width: 250px;
            width: 250px;
            float: left;
            max-height: 82px;
            height: 82px;
            text-align: center;

            .user > i.fa {
                padding: 10px 12px;
                border-radius: 50%;
                background-color: $darkGray;
            }
        }

        .logout {
            padding: $gutter;
            background-color: $orange;
            color: $white;
            font-size: 22px;
            font-weight: bold;
            display: block;

            &:hover {
                background-color: $hoverOrange;
            }
        }
    }
}
