.request-list-title {
    margin: 0 0 $spacing 0;
    @include font-size(16px) ;
}

.requests-list {
    margin: 0;
    padding: 0;

    .requests-list-item {
        margin-bottom: 0;

        a {
            @include font-size(16px) ;
            display: block;
            padding: $spacing;
            color: $darkGray;
            border-left: 5px solid $white;

            &:hover {
                text-decoration: none;
                border-left: 5px solid $hoverOrange;
                background-color: $whiteSmoke;
            }

            &.active {
                border-left: 5px solid $orange;
                background-color: $hoverOrange;
                color: $white;
                text-decoration: none;
            }


        }

        .request-item-user {
            @include font-size(16px);
            font-weight: bold;
        }

        .request-item-name,
        .request-item-date {
            @include font-size(14px);
        }

        .request-comment {
            @include font-size(12px);
            font-style: italic;
            margin: 0;
        }
    }
}

@media (min-width: $screen-xs) {
    .requests-list {
        max-height: 100%;
        overflow:auto;
    }

    #request-detail {
        height: 100%;
        max-height: 100%;
        overflow: auto;
        background-color: $whiteSmoke;
        border-top-right-radius: $spacing;
        border-bottom-right-radius: $spacing;
        .user-history-title,
        .user-detail-history-item {
            margin-bottom: $spacing;
        }

        .user-history-item-title {
            margin-bottom: 5px;
        }

    }
}
