.user-list-title {
    margin: 0 0 $spacing 0;
    @include font-size(16px) ;
}
#admin-user-list-container {
    min-height: 100%;
    height: 100%;

    #admin-user-list {
        margin: 0;
        padding: 0;

        .user-list-item {
            margin-bottom: 0;

            a {
                @include font-size(16px) ;
                display: block;
                padding: $spacing;
                color: $darkGray;
                border-left: 5px solid $white;

                &:hover {
                    text-decoration: none;
                    border-left: 5px solid $hoverOrange;
                    background-color: $whiteSmoke;
                }

                &.active {
                    border-left: 5px solid $orange;
                    background-color: $hoverOrange;
                    color: $white;
                    text-decoration: none;
                }
            }
        }
    }

    .users-total-points {
        padding: $gutter $spacing;
        @include font-size(16px);
    }
}


#user-detail {
    .user-history-title,
    .user-detail-history-item {
        margin-bottom: $spacing;
    }

    .user-history-item-title {
        margin-bottom: 5px;
    }

}

@media( min-width: $screen-xs) {
    #admin-user-list-container {
        min-height: 100%;
        #admin-user-list {
            max-height: 100%;
            overflow: auto;
        }
    }

    #user-detail {
        height: 100%;
        max-height: 100%;
        overflow: auto;
        background-color: $whiteSmoke;
        border-top-right-radius: $spacing;
        border-bottom-right-radius: $spacing;
        .user-history-title,
        .user-detail-history-item {
            margin-bottom: $spacing;
        }

        .user-history-item-title {
            margin-bottom: 5px;
        }

    }
}
