#user-profile {

    .profile-title {
        margin-bottom: $gutter;
    }

    .info-section {
        margin-bottom: $gutter;
    }


    .change-password {
        display:none;

        &.show {
            display: block;
        }

        .form-field {
            margin-bottom: $spacing;
        }
    }



    .points {
        color: $orange;
        font-weight: bold;
    }

    

    .profile-item-list-title {
        margin-bottom: $spacing;
    }

    .profile-item {
        margin-bottom: $spacing;

        h4 {
            margin-bottom: 5px;
        }
    }
}
