#topNavigation {
    position: fixed;
    margin-bottom: 0;
    border-radius: 0;
    width: 100%;
    background-color: $white;
    border-bottom: 1px solid $hoverOrange;
    color: $darkGray2;
    top: 0;
    z-index: 1000;

    .navbar-collapse  {
        width: 100%;

        ul {
            width: 100%;

            li {
                width: 100%;
                margin-bottom: 0;

                .active {
                    color: $orange;
                    border-bottom: 2px solid $orange;
                }
            }
        }
    }
}

@media( min-width: $screen-xs) {
    #topNavigation {
        min-height: $column;

        .navbar-collapse {
            width: auto;

            ul {
                width: auto;

                li {
                    width: auto;

                    .points {
                        color: $orange;
                        font-weight: bold;
                    }

                    a {
                        font-size: 16px;
                        line-height: 26px;
                    }
                }
            }
        }
    }

    .email {
        padding-top: $spacing;
        padding-bottom: $spacing;
        line-height: 26px;
    }
}
